@model SkadTechDomain.ItemZs

@{
    ViewBag.Title = "MyElement";
    Layout ="~/Views/Shared/_LayoutPageSkadTech.cshtml";
}

       <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdZs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdZs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubSystem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubSystem)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ItemZsName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ItemZsName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Artikul)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Artikul)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Esn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Esn)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

